@import "tailwindcss";

[data-theme="light"] {
  --color-slate-950: oklch(98.4% 0.003 247.858);
  --color-slate-900: oklch(96.8% 0.007 247.896);
  --color-slate-800: oklch(92.9% 0.013 255.508);
  --color-slate-700: oklch(86.9% 0.022 252.894);
  --color-slate-600: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-400: oklch(44.6% 0.043 257.281);
  --color-slate-300: oklch(37.2% 0.044 257.287);
  --color-slate-200: oklch(27.9% 0.041 260.031);
  --color-slate-100: oklch(20.8% 0.042 265.755);
  --color-slate-50: oklch(12.9% 0.042 264.695);
}

@theme {
  --color-emphasis: var(--color-slate-100);
  --color-neutral: var(--color-slate-400);

  --background: var(--color-slate-900);
  --foreground: var(--color-neutral);
}

@layer base {
  body {
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    @apply transition-colors duration-300 ease-in-out;
  }

  html:not([data-theme-loaded]) * {
    transition: none !important;
  }
}

.rotated {
  transform: rotate(360deg);
}

.close-menu {
  width: 0;
}
